.container_static {
  .row {
    ul {
      list-style-type: none;
    }
  }

  .products_title {
    text-align: center;
    position: relative;
    margin: 40px 0px;

    h1 {
      color: grey;
      padding-bottom: 5px;
    }
  }

  .products_title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 10%;
    transform: translateX(-50%);
    height: 6px;
    border-radius: 3px;
    background: grey;
  }
}

.modal {
  .modal_product_details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 35px;

    .modal_img_wrapper {
      position: relative;
      padding: 5px;
      flex: 0.4;

      .modal_img_container {
        position: relative;

        img {
          max-width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }

    .modal_product_details_description {
      flex: 0.6;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        padding: 5px;
      }

      .product_price {
        margin: 20px 5px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          border: none;
          outline: none;
          padding: 5px;
          background: lightgreen;
          border-bottom: 1px solid grey;
          border-radius: 8px;
          box-shadow: 0px 5px 8px -5px rgba(0, 0, 0, 0.75);
          cursor: pointer;
          font-weight: 600;
          color: gray;
        }

        button:focus {
          box-shadow: none;
        }
      }
    }
  }
  .modal_close {
    font-size: large;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
    top: 10px;
    right: 10px;
    text-align: center;
    box-shadow: 0px 5px 8px -5px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    outline: none;

    .modal_close:focus {
      box-shadow: none;
    }
  }
}
