.product {
  background-color: white;
  border-bottom: 1px solid grey;
  border-radius: 15px;
  box-shadow: 0px 5px 8px -5px rgba(0, 0, 0, 0.75);
  margin: 10px;

  .product_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid grey;

    h4 {
      padding: 5px 10px;
      color: rgb(255, 50, 130);
    }
    .product_image_wrapper {
      position: relative;
      height: 125px;

      .product_image_container {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 10px;
        object-fit: cover;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .product_middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid grey;

    button {
      margin: 15px 0px;
    }
  }
}
