.slider {
  position: relative;
  top: -20px;
  width: 100%;
  overflow: hidden;
  border-radius: 0px 0px 15px 15px;
  height: 100%;
  max-height: 400px;

  .slide_cont {
    position: relative;
    display: flex;
    flex-direction: row;

    // HERE
    .slide {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      object-fit: cover;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.slide_cont::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(201, 201, 201, 0.2);
}
