.header {
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid grey;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 5px 8px -5px rgba(0, 0, 0, 0.75);
  padding: 15px 20px;
  z-index: 15;
  overflow: hidden;
  transition: 0.4s ease-in-out;

  .header_wrapper {
    position: relative;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px auto;

    .header_left {
      padding: 0px 20px;
      margin-left: 20px;
      flex: 0.5;

      h2 {
        color: rgb(255, 50, 130);
      }
    }

    .header_right {
      padding: 0px 20px;
      flex: 0.4;

      .header_links {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;

        .header-link {
          color: grey;
          margin-right: 20px;
          font-weight: 600;
          cursor: pointer;
        }

        .header-link--active {
          color: rgb(255, 50, 130);
        }

        .header-link:nth-of-type(1) {
          transform: translateY(+10%);
        }

        .header-link:hover {
          color: rgb(255, 50, 130);
        }

      }
    }

    .header-link {
      flex: 0.1;
      color: grey;
      font-weight: 600;
      transform: translateY(15%);
      cursor: pointer;
    }

    .header-link--active {
      color: rgb(255, 50, 130);
    }

    .header-link:nth-of-type(1) {
      transform: translateY(+10%);
    }

    .header-link:hover {
      color: rgb(255, 50, 130);
    }

    .header-link--active {
      .MuiSvgIcon-root {
        color: rgb(255, 50, 130);
      }
    }

    .burger_cont {
      cursor: pointer;
      transform: translateY(15%);
      display: none;
      padding: 0px 20px;
      flex: 0.3;

      .icon {
        pointer-events: none;
      }
    }
  }
}

.header--active {
  height: 250px;
  transition: 0.4s ease-in-out;
}

@media screen and (max-width: 576px) {
  .header {
    .header_wrapper {
      .header_right {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 450%;
        left: 50%;
        flex: 1;

        .header_links {
          flex-direction: column-reverse;

          .header-link {
            margin-bottom: 10px;
          }
        }
      }
      .burger_cont {
        display: block;
        padding: 0px 20px;
        flex: 0.3;
      }
    }
  }
}
